* {
    margin: 0;
    padding: 0;    
}

.text-right {
    text-align:right
}

nav {
    display: block;
}

header, footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #d12f2f;
}

body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #0e0242;
    color: #f00909;
  }

li {
    display: inline;
    padding: 0px 20px;
}

.text-center {
    text-align: center;
  }

img {
    display: block;
    margin: 40px auto 0px;
}

header {
    border-bottom: 10px solid white;
}

.imageBox {
    position: absolute;
    float: left;
  }
  
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
    display: block;
  }